---
interface Props {
  leftTitle?: string;
  rightTitle?: string;
}

const { leftTitle = "CUDA reference", rightTitle = "CuTe" } = Astro.props;
---

<div class="code-pair">
  <figure class="code-pair-panel">
    <figcaption>{leftTitle}</figcaption>
    <slot name="left" />
  </figure>
  <figure class="code-pair-panel">
    <figcaption>{rightTitle}</figcaption>
    <slot name="right" />
  </figure>
</div>
